/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .toppopup {
    width: 80%;
  }
  .item-card {
    flex-wrap: wrap;
  }
  .item-card-right-price {
    margin-top: 10px;
  }
  .item-card-des {
    margin-top: 20px;
  }
  .item-card-review {
    margin-top: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .toppopup {
    inset: 250px 0 50px 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .item-card-img {
    width: 42%;
  }
  .toppopupheader-filter {
    flex-wrap: wrap;
  }
  .toppopupheader-filter-location {
    width: 100%;
    border: 1px solid #efefef;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .header {
    justify-content: center;
  }
  .header-menu {
    gap: 5px;
  }
  .header-setting {
    justify-content: center;
    gap: 5px;
  }
  .toppopup-prev {
    width: 100%;
  }
  .toppopup-popular {
    width: 100%;
  }
  .item-card-img {
    width: 100%;
  }
  .toppopupheader-filter-fromtobtn {
    flex-wrap: wrap;
    gap: 20px;
  }
}
