body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* common */
.container {
  padding: 0 20px;
}

/* header */
.header-wrapper {
  position: fixed;
  inset: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: inset 0px -1px 0px #f3f4f6;
  background: #ffffff;
  gap: 10px;
}
.header-menu {
  border: 1px solid #e5e7eb;
  box-shadow: 0px 2px 4px rgba(31, 41, 55, 0.06),
    0px 4px 6px rgba(31, 41, 55, 0.1);
  border-radius: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 14px 8px 14px 24px;
  gap: 16px;
  cursor: pointer; /* it will be remove later */
}
.header-menu-item {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.header-menu-item-seachbar {
  cursor: pointer;
}
.header-menu-item-border {
  background: #6b7280;
  width: 24px;
  height: 0px;
  border: 1px solid #e5e7eb;
  transform: rotate(90deg);
}

.header-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header-setting-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.header-setting-user {
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  padding: 8px 8px 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  cursor: pointer;
}

/* items */
.items {
  margin-top: 150px;
}
.item-package {
  color: #6b7280;
  line-height: 24px;
}

.item-card {
  display: flex;
  gap: 24px;
  margin-top: 24px;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
  padding-top: 20px;
  margin: 24px 0;
}

.item-card-img {
  border-radius: 15px;
  width: 22%;
}
.item-card-title {
  color: #374151;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.item-card-des {
  margin-top: 30px;
}

.item-card-des-title {
  color: #6b7280;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.item-card-des-des {
  font-size: 14px;
  line-height: 20px;
  color: #6b7280;
}

.item-card-review {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.item-card-right-price {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.item-card-right-price-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #374151;
}

.item-card-right-count {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #374151;
}

/* pop up */
.toppopup {
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  inset: 155px 0 100px 0;
  padding: 20px;
  width: 50%;
  margin: auto;
  overflow-y: scroll;
}

.toppopup::-webkit-scrollbar {
  display: none;
}

.toppopup-prev {
  border-right: 1px solid #ebebeb;
  padding: 10px;
  width: 40%;
}

.toppopup-prev-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 19px;
}
.toppopup-prev-search {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}
.toppopup-prev-search-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #717171;
}
.toppopup-popular {
  width: 60%;
  padding: 10px;
}

.toppopup-popular-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.toppopup-bg-opacity {
  position: fixed;
  inset: 0 0 0 0;
  background: #000000;
  z-index: -10;
  opacity: 0.2;
}

/* top popup header */
.toppopupheader-menus {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.toppopupheader-filter {
  background: #ebebeb;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.toppopupheader-filter-location {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  padding: 14px 80px 14px 32px;
}

.toppopupheader-filter-location-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}
.toppopupheader-filter-location-areaname {
  font-size: 14px;
  line-height: 21px;
}

.toppopupheader-filter-fromtobtn {
  display: flex;
  justify-content: space-between;
  padding: 14px 8px 14px 28px;
  gap: 50px;
}
